<!-- base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/nom_application/styles.css"> 
        <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/3125/3125848.png">
        <title>{% block title %}Voyage{% endblock %}</title>
    </head>
<body>

    <header>
        <h1>Réservations</h1>
        {% if user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'liste_itineraires' %}">Liste des voyages</a></li>
                <li><a href="{% url 'reserved_itineraries' %}">Voyages Réservés</a></li>
                <li><a href="{% url 'liste_hebergement' %}">Liste des hébergement</a></li>
            </ul>
        </nav>
        {% else %}
        <a href="{% url 'connexion' %}">Connexion  </a>  | <a href="{% url 'inscription' %}">Créer un compte</a>

        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
    </footer>

</body>
</html>
